.menu {
  background-color: white;
  height: calc(100vh - 64px);
  width: 250px;
  border-right: solid 1px #e9e9e9;
}

.primaryColor {
  color: var(--color-primary) !important;
}

.close {
  transition: 0.5s;
  display: none !important;
}

